<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<table>
    <tr>
      <th>Basic Informations</th>
     
    </tr>
    <tr>
    <td>Name:{{patientDetail.patient_name}}</td>
    </tr>
    <tr>
    <td>Age:{{patientDetail.patient_age}}</td>
    </tr>
    <td>Education :{{patientDetail.Education}}</td> 
    </tr>
    </tr>
    <td>Occupation : {{patientDetail.Occupation}}</td> 
    </tr>
    </tr>
    <td>Marital Status : {{patientDetail.Marital_status}}</td> 
    </tr>
    </tr>
    <td>Mobile No : {{patientDetail.Mobile_no}}</td> 
    </tr>
    </tr>
    <td>Email Address : {{patientDetail.Email_address}}</td> 
    </tr>
  
   
  </table>
  







